@model BookShopDemo.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create a order</h1>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.bookCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.bookCode)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.bookquantity)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.bookquantity)

</dl>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="bookId" value=@Model.Id />
            <input type="hidden" name="bookCode" value=@Model.bookCode />
            <input type="hidden" name="bookquantity" value=@Model.bookquantity />
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="Books" asp-action="catalogue">Back to Catalogue</a>
</div>

